.text-error-small {
    font-size: 12px;
    color: #e24c4c;
}

/* Estilo de la tarjeta */
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Estilo global para modales */
.modal,
.p-dialog {
    top: 50% !important;
    transform: translateY(-50%) !important;
}