<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Navbar</a>
    <div class="navbar-collapset" id="navbarNavDropdown">
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Bienvenido... 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item">Usuario </a>
                    <a class="dropdown-item">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>