.dashboard {
    margin-left: 260px;
    margin-top: 50px;
    padding: 0.5rem;
    overflow: auto;
    min-height: calc(100vh - 64px);
}

@media (max-width: 991.98px) {
    .dashboard {
        margin-left: 0;
    }
}
