<!-- home.component.html -->
<div class="d-lg-none d-flex justify-content-between align-items-center p-2 bg-light border-bottom">
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-list"></i>
    </button>
    <strong>Dashboard</strong>
</div>

<div class="d-flex">
    <!-- Sidebar para todos los tamaños -->
    <app-sidebar></app-sidebar>

    <!-- Contenido principal -->
    <div class="flex-grow-1 p-4 dashboard">
        <div class="card mt-1">
            <div *ngIf="datosUsuario.idRol == '1'" class="card-body">

                <div *ngFor="let fila of getGraficasEnFilas()" class="row mb-4">

                    <div *ngFor="let grafica of fila" [ngClass]="fila.length === 1 ? 'col-12' : 'col-12 col-md-6'">
                        <h5 class="text-center mb-2">
                            {{ grafica.tituloGrafica }}
                        </h5>

                        <div style="height: 100%;">
                            <p-chart [type]="grafica.tipoGrafica" [data]="grafica.chartData"
                                [options]="grafica.configuracion.chartOptions" style="width: 100%; height: 100%;">
                            </p-chart>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>