.dashboard {
    margin-left: 240px;
    overflow: auto;
}

/* Estilo de la tarjeta */
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
    .dashboard {
        margin-left: 0px;
        overflow: auto;
    }
}

.fullscreen-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.fullscreen-card {
    width: 95vw;
    height: 90vh;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fullscreen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.signature-wrapper {
    flex: 1;
    display: flex;
    border: 2px dashed #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow: hidden;
}

.signature-wrapper canvas {
    width: 100% !important;
    height: 100% !important;
    cursor: crosshair;
    touch-action: none;
}

.signature-pad-container {
    border: 1px dashed #999;
    border-radius: 10px;
    background: #fafafa;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.signature-pad-container canvas {
    width: 100%;
    height: 100%;
}

.field-radiobutton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

:host ::ng-deep .p-dialog .p-dialog-content {
    padding: 0 2rem;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav {
    justify-content: center;
}

:host ::ng-deep .p-floatlabel {
    display: block;
}

:host ::ng-deep .p-inputtextarea {
    resize: none;
}

:host ::ng-deep .p-dialog-content {
    overflow-y: auto;
}

:host ::ng-deep .p-dialog-header {
    padding: 1rem 1.5rem;
}

:host ::ng-deep .p-dialog-footer {
    padding: 1rem 1.5rem;
}

.swal2-container {
    z-index: 100000 !important;
}

.swal2-confirm {
    background-color: #007ec8 !important;
    border-radius: 10px !important;
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px !important;
}

.swal2-cancel {
    border-radius: 10px !important;
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif !important;
}

.swal2-popup {
    border-radius: 15px !important;
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif !important;
}

@media (max-width: 768px) {
    :host ::ng-deep .p-dialog {
        width: 25rem !important;
    }
}
